p {
    line-height: 2;
    text-indent: 20px;
    font-size: 12pt;
    font-family: 'Times New Roman';
}

h1, h2, h3, h4 {
    font-size: 12pt;
    font-family: 'Times New Roman';
}

.compass a {
    font-size: 12pt;
    font-family: 'Times New Roman';
}

.cites li {
    text-indent: -20px;
    list-style: none;
}

.text-center {
    text-align: center;
}


.cover h1 {
    font-size: 18pt;
}


.cover p {
    font-weight: normal;
    text-indent: initial;
    font-size: 16pt;
}
