/*
 *Color Pallete https://realtimecolors.com/?colors=deeff2-030707-34737f-091416-4498a7
 */
.center {
    margin: auto;
    width: 75%;
}

body {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #030707;
}

h1, h2, h3, h4, h5 {
    color: #deeff2;
    font-family: inherit;
    font-size: 3vh
}

p, li, ul {
    color: #deeff2;
    font-family: inherit;
    font-size: 2vh;
}

div a {
    padding: 5px;
    display: table;
}

hr {
    border-top: 1px;
    border-style: dashed;
    border-color: #212D40;
}

.projects hr {
    border-style: solid;
    padding-left: 0px;
}

.projects p, .projects h1, .projects h2, .projects h3, .projects h4 {
    padding-left: 15px;
}

div.projects {
    border-style: solid;
    border-color: #212D40;
    border-width: 2px;
    border-radius: 10px;
}

a {
    font-family: monospace;
    color: #4498a7;
}

.inline {
    display: inline;
    padding: 0px;
}

code {
    color: #866853;
    border-style: solid;
    border-color: #212D40;
    border-width: 1px;
    padding: 1px 4px;
    border-radius: 4px;
}

.navbar {
    background-color: #091416;
    padding: 5px;
    border-radius: 5px;
}

.navbar a {
    display: inline;
    font-size: 15px;
}

img {
    object-fit: scale-down;
    width: 100%;
}
.hover_img a {
    position: relative;
}
.hover_img a span {
    position: absolute;
    display: none;
    z-index: 99;
}
.hover_img a:hover span {
    display: block;
}
.hover_img img {
    width: unset;
}

@media screen and (max-width: 900px) { /* Support for smaller screens */
    .center {
        width: 95%;
    }

    h1, h2, h3, h4, h5 {
        font-size: 15px;
    }

    p, li, ul {
        font-size: 12px;
    }
}
