<a href="index.html">Homepage</a>
<a href="projects.html">Projects</a>
<a href="CS-II/Essays/Fingerprints.html">Digtital Fingerprints</a>
<a href="CS-II/Essays/AI%20Sentience.html">AI Sentience</a>
<a href="CS-II/Projects/Optimal%20Sort.html">Optimal Sort</a>
<a href="CS-II/Projects/Business Plan/index.html">Buisness Plan</a>
<a href="CS-II/Projects/ISP/index.html">2022 - 2023 ISP</a>
<a href="CS-II/Essays/Decision%20Making.html">Decision Making</a>
<a href="CS-II/Projects/ISP/Journal.html">2022 - 2023 ISP Journal</a>
